<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
          CS110
      </h1>
      Introduction to Computing
      <br/>
      <br/>
    </div>
    <nav class="sidebar-nav">
      {% assign pages_list = site.pages | sort:"order" %}
      {% for node in pages_list %}
        {% unless node.exclude %}
          {% if node.title != null %}
            {% if node.layout == "cs110_page" %}
              <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
            {% endif %}
        {% endif %}
      {% endunless %}   
    {% endfor %}
    </nav>
    <br/>
    <br/>
    <a href="/">Swami Iyer</a> &middot; <a href="https://www.cs.umb.edu/">CS</a> &middot; <a href="https://www.umb.edu/">UMB</a>
  </div>
</div>
